:root{
    --bg--background-color: #8c8d8d;
    --bg--nav:#1b1e1e;
    --color:#fff;
}

*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--bg--background-color);
    color: var(--color);
}



.navbar{
    margin: 0px auto;
    height: 70px;
    width: 100%;
    background-color: var(--bg--nav);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__img > img{
    width: 100px;
    height: 30px;
}

.navbar__optios .navbar__optios--item{
    margin-right: 20px;
    color: var(--color);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    transition: all 300ms;
}

.navbar__optios .navbar__optios--item:hover{
    border: 1px solid black;
    animation: border-animation 1s linear forwards;
}

@keyframes border-animation {
    0% {
      border-color:black;;
    }
    50% {
      border-color:black;;
    }
    100% {
        border-color: white;
      }
    
  }
  

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


    .menu__mobile{
        width: 30px;
        display: none;
    }


.nav-mobile{
    width: 50%;
    height: 100vh;
    border: solid 1px white;
    background-color:black;
    position: absolute;
    top: 0;
    right:2000;
    display: none;
    z-index: 1;
    transition: all 300ms;
}

.nav-mobile__option{
    margin-top: 10px;
}

.nav-mobile__option a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
}


.container{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    
   
    
}

.container > .sidebar{
    background-color: #1b1e1e;
    padding: 25px;
    padding-left: 10px;
    min-height: 100vh;
   
}

.container > .sidebar > h2{
    text-align: center;
    
}

.sidebar__form{
    margin-top: 60px;

}


.form-group{
    margin-bottom: 15px;
}

.form-group input{
    border: none;
    padding: 5px;
    margin-left: 0px;
    border-radius: 5px;
    width: 100%;
}

.btn_Comentario{
    display: flex;
    justify-content: center;
}

.btn_Enviar{
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 8px;
    background-color:#8c8d8d;
    color: black;
    cursor: pointer;
}

.content{
    padding: 25px;
   
    
}


.container > .content > h2{
    text-align: center;
    
   
}

.productos{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-color: #1b1e1e;
    
}

.producto{
    padding: 15px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    border-color: #1b1e1e;
    background-color: #1b1e1e;
}


.producto .title{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-color: #1b1e1e;
}

.producto .image-conatiner{
    margin-top: 10px;
    width: 95%;
    height: 300px;
    border-radius: 8px;
    border-color: #1b1e1e;
   
    
}

.producto .image-conatiner .image{
    width: 100%;
    height: 300px;
    border-color: #1b1e1e;
    

}

.footer{
    padding: 20px;
    background-color: var(--bg--nav);
}
